<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/cart.css" />
</head>

<body id="body">
    <%- include("component/header") %>
    <%- include("component/popup") %>
    <div class="outerdiv">
        <div id="productsContainer"></div>
        <div id="billContainer"></div>
        <div id="addressContainer">
            <form>
                <div class="formelement">
                    <label for="address">Address line 1:</label>
                    <input type="text" id="address" name="address" />
                </div>
                <div class="formelement">
                    <label for="country">Country:</label>
                    <input type="text" id="country" name="country" />
                </div>
                <div class="formelement">
                    <label for="state">State:</label>
                    <input type="text" id="state" name="state" />
                </div>
                <div class="formelement">
                    <label for="district">District:</label>
                    <input type="text" id="district" name="district" />
                </div>
                <div class="formelement">
                    <label for="pincode">Pincode:</label>
                    <input type="number" id="pincode" name="pincode" />
                </div>
                <div class="formelement">
                    <input type="submit" id="saveAdress" name="saveAdress" value="Save Address and pay" />
                </div>
            </form>
        </div>
    </div>
    <script src="/cart.js"></script>
</body>

</html>