<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/changePass.css" />
</head>
<body id="body">
    <%- include("component/header") %>
    <div class="container">
        <form>
            <div class="formelement">
                <li id="oneCapLetter">There shoud be atleast one Capital letter[A-Z]</li>
                <li id="oneSmLetter">There shoud be atleast one small letter[a-z]</li>
                <li id="oneDigit">There shoud be atleast one digit[0-9]</li>
                <li id="oneSpecChar">There shoud be atleast one special character[!@#$%^&*]</li>
                <li id="passLength">password length should be more than 7</li>

            </div>
            <div class="formelement">
                <input type="password" name="newPass" id="newPass" placeholder="Enter new password">
            </div>
            <div class="formelement">
                <input type="password" name="confirmPass" id="confirmPass" placeholder="Confirm password">
            </div>
            <div class="formelement">
                <input type="submit" value="Update" id="update">
            </div>
        </form>
    </div>
    <script>
        let userId=JSON.parse('<%- JSON.stringify(userId) %>');
    </script>
    <script src="/changePass.js"></script>

</body>
</html>