<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/forgotPass.css" />
</head>
<body id="body">
    <%- include("component/header") %>
    <div class="container">
        <form>
            <div class="formelement">
                <h2>Enter registered Email</h2>
            </div>
            <div class="formelement">
                <input type="text" name="email" id="email" placeholder="Enter registered Email">
            </div>
            <div class="formelement">
                <input type="submit" value="Reset Password" id="resetPassword">
            </div>
        </form>
    </div>
    <script src="/forgotPass.js"></script>

</body>
</html>