<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="/login.css" />
</head>

<body>
    <div class="container">
        <form method="post">
            <h2>Sign in</h2>
            <div class="formelement">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" />
            </div>
            <div class="formelement">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" />
            </div>
            <div class="formelement">
                <input type="submit" id="submit" value="Submit" />
            </div>
            <div class="formelement">
                <p>new user can signup <a href="/signup">here</a></p>
            </div>
            <div class="formelement">
                <p>Forgot password <a href="/forgotPassword">click here</a></p>
            </div>
            <div class="formelement">
                <p>Login as Seller <a href="/seller/login">click here</a></p>
            </div>
        </form>
        <script src="/login.js"></script>
    </div>
</body>

</html>