<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/myOrder.css" />
</head>
<body id="body">
    <%- include("component/header") %>
    <%- include("component/popup") %>
    <div id="productsContainer"></div>
    <!-- <div id="loadMore">Load More</div> -->
    <script src="/myOrder.js"></script>
</body>
</html>