<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Product</title>
    <link rel="stylesheet" href="/myProduct.css" />
</head>
<body id="body">
    <%- include("component/sellerHeader") %>
    <div id="productsContainer"></div>
    <div class="foot">
        <select name="prodperpage" id="prodperpage">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <div id="loadMore">Load More</div>
    </div>

    <script src="/myProduct.js"></script>
</body>
</html>