<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Product</title>
    <link rel="stylesheet" href="/myProduct.css" />
</head>
<body id="body">
    <%- include("component/sellerHeader") %>
    <div id="productsContainer"></div>
    <div id="loadMore">Load More</div>
    <script src="/myProduct.js"></script>
</body>
</html>