<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Ship</title>
    <link rel="stylesheet" href="/toShip.css">
</head>
<body>
    <%- include("component/distributorHeader") %>
    <div id="orderContainer"></div>
    <script src="/toShip.js"></script>
</body>
</html>