<style>
    #popupContainer{
        visibility: hidden;
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0px;
        top: 0px;
        background: rgb(255, 255, 255,0);
                
    }
    #descpopup {
        position: fixed;
        top: 50px;
        left: 29%;
        width: 40%;
        max-height: 80vh;
        background: rgb(245, 240, 240);
        padding: 10px;
        box-shadow: 0px 0px 5px black;
    }

    .desctitle {
        font-size: 2rem;
        padding: 3px;
        border-bottom: 1px solid black;
    }

    #descpopup img {
        width: 100%;
        height: 50vh;
        margin-top: 2px;
        object-fit: contain;
    }

    .popupbutton {
        width: fit-content;
        margin: 5px;
        padding: 10px;
        background: hsl(211.06deg 100% 50%);
        cursor: pointer;
    }

    .popupdesc {
        padding: 5px;
        text-align: justify;
    }
</style>
<div id="popupContainer">
    <div id="descpopup">
        <div id="desctitle" class="desctitle">
            Product Desc
        </div>
        <img id="descimg" src="" alt="">
        <div id="popupdesc" class="popupdesc"></div>
        <div id="popupstock" class="popupdesc"></div>
        <div id="popupprice" class="popupdesc"></div>
        <div id="popupbutton" class="popupbutton">OK</div>
    </div>
</div>
<script>
    const popupContainer = document.getElementById("popupContainer");
    const descpopup = document.getElementById("descpopup");
    const descimg = document.getElementById("descimg");
    const popupdesc = document.getElementById("popupdesc");
    const popupstock = document.getElementById("popupstock");
    const popupprice = document.getElementById("popupprice");
    const popupbutton = document.getElementById("popupbutton")
    function viewPopup(product) {
        descimg.src = product.image;
        popupdesc.innerText = product.description;
        popupstock.innerText = "Available stock: " + product.stock;
        popupprice.innerText = "price: $" + product.price;
        popupContainer.style.visibility = "visible";
    }
    popupbutton.addEventListener("click", function (ev) {
        ev.preventDefault();
        popupContainer.style.visibility = "hidden";
    });
    popupContainer.addEventListener("click",function(ev){
        popupContainer.style.visibility = "hidden";
    });
    descpopup.addEventListener("click",function(ev){
        ev.stopPropagation();
    });
</script>