*{
    margin: 0px;
    padding: 0px;
}
#addressContainer{
    margin: 10px;
    height: 85vh;
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    
}
#addressContainer form{
    height: 70vh;
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 0px 0px 8px grey;
}
.formelement{
    display: flex;
    flex-direction: column;
    padding: 3px;
    margin: 2px;
    width: 25vw;
}

.formelement input {
    margin: 3px;
    padding: 10px;
}

#saveAdress{
    border-radius: 5px;
    font-size: 15px;
    border: none;
    background-color: dodgerblue;
    color: white;
    cursor: pointer;
}

#billContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#billtable{
    width: 50%;
    border-collapse: collapse;
    border: 1px solid;
}
.headcol{
    border: 1px solid;
    padding: 5px;
}
.datacol{
    border: 1px solid;
    padding: 5px;
}
.totalbillcol{
    border: 1px solid;
    padding: 5px;
}

#paynow{
    background-color: green;
    color: white;
    padding: 8px 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 2px;
}