*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #f0f0f0
}
#productsContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 43vh;
    column-gap: 10px;
    row-gap: 10px;
    width: inherit;
    min-height: 80vh;
    background-color: #f0f0f0;
    padding: 10px;
}

.productNode{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* border: 1px solid brown; */
    box-shadow: 0px 0px 5px black;
    padding: 5px;
}

.productNode img{
    width: 100%;
    height: 60%;
    /* object-fit: contain; */
}

.productAction{
    display: flex;
    justify-content: space-evenly;
}

#update{
    width: 40%;
    padding: 5px;
    margin: 5px;
    background: blue;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    
}
#delete{
    width: 40%;
    padding: 5px;
    margin: 5px;
    background: red;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

#gotoCart{
    padding: 5px;
    background: hsl(211.06deg 100% 50%);
    width: fit-content;
    cursor: pointer;
}
#loadMore{
    padding: 5px;
    background: hsl(211.06deg 100% 50%);
    width: fit-content;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}